@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */

.display-flex{
    display: flex;
}
/* body{
    max-width: 1140px;
    margin: 0 auto;
} */
.primary-color{
    color: #E95A08;
}
.dark-3{
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.30rem;
}
.section-title{
    font-size: 3.125rem;
    font-weight: 700;
    margin: 0;
}

/* header style */
.header{
    max-width: 1140px;
    margin: 0 auto;
}
/* navbar style */

.navbar{
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
.nav-items{
    gap: 48px;
}
.nav-items li{
    list-style: none;
}
.nav-items a{
    text-decoration: none;
}
.nav-link1{
    color: #252432;
    font-weight: 700;
}
.nav-link2{
    color: #8987A1;
}
.nav-link3{
    color: #000000;
}
.nav-cart{
    gap: 10px;
}

/* banner style */
.banner{
    margin-top: 120px;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
}

/* plants related style */

.plants{
    max-width: 888px;
    margin: 0 auto;
    text-align: center;
    margin-top: 120px;
}

/* card style */
.card-section{
    max-width: 1140px;
    margin: 0 auto;
}
.cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 50px;
}

.card{
    text-align: center;
}
.card-title{
    font-size: 22px;
    font-weight: 500;
    margin: 30px 0 10px 0;
}
.price{
    font-size: 22px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 30;
}
.btn-primary{
    font-weight: 600;
    color: white;
    background-color: #E95A08;
    padding: 16px 89px;
    border: none;
}

/* flower related style */
.badge img{
    position: absolute;
    right: 580px;
    top: 2000px;
    height: 286px;
    width: 286px;
}
.flowers-section{
    max-width: 1140px;
    margin: 0 auto;
}
.flower-section{
    gap: 60px;
    margin-top: 210px;
    align-items: center;
}
.flower-detail h3,li{
    margin-bottom: 20px;
}
/* latest-deals */
.latest-deals-section{
    max-width: 1140px;
    margin: 0 auto;
}
.latest-deals{
    max-width: 888px;
    margin: 0 auto;
    text-align: center;
    margin-top: 120px;
}
.card-layout{
    margin-top: 120px;
}
.left-card > img {
    height: 200px;
    max-width: 367px;
    border-radius: 14px;
    margin-bottom: 18px;
}
.right-card > img{
    height: 423px;
    width: 753px;
    border-radius: 22px;
    margin-left: 28px;
}

/* join style */

.join{
    max-width:100%;
    height: 533px;
    margin-top: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url("/images/news-letter-bg.png");
    background-color: rgba(7, 51, 79, 0.4);

}
.join-title{
    font-size: 50px;
    font-weight: 700;
    color: white;
    margin-bottom: 23px;
}
.join-input{
    padding: 16px 540px 16px 20px;
    border: none;
}


/* footer style */
.footer-section{
    max-width: 1140px;
    margin: 50px auto;
    gap: 80px;
}
.footer-logo{
    max-width: 359px;
}
.footer-section li{
    list-style: none;
    color: rgba(107, 108, 128, 1);
}
.social-media .twitter{
    height: 30px;
    width: 30px;
}
.social-media img{
    padding-left: 15px;
}

/* responsive */
@media screen and (max-width:1100px){
    .badge img{
        display: none;
    }
}


@media screen and (max-width:576px){
    .nav-items .nav-link1,.nav-link2{
        visibility: hidden;
        position: absolute;
    }
    .banner{
        flex-direction: column-reverse;
    }
    .banner-title{
    font-size: 3rem;
    }
    .cards{
        grid-template-columns: repeat(2 , 1fr);
    }
    .card{
        max-width: 171px;
        margin-left: 10px;
    }
    .card img{
        max-width: 171px;
    }
    .btn-primary{
    padding: 16px 40px;
    }
    .flower-section{
        flex-direction: column;
    }
    .badge img{
        display: none;
    }
    .flowers-section img{
        max-width: 361px;
    }
    .left-card > img{
        margin-left: 15px;
    }
    .right-card > img {
    height: 200px;
    max-width: 367px;
    border-radius: 14px;
    margin-left: 15px;
    }
    .card-layout{
        flex-direction: column;
    }


    .join-title{
    font-size: 20px;
    }
    .join-input{
    padding: 16px 50px 16px 20px;
    border: none;
    }
    .join button{
        padding: 16px 12px;
    }



    .footer-section{
        flex-direction: column;
        gap: 0;
    }
    .footer-section ul{
        margin: 0;
        padding-left: 20px;
    }
}